[global]
    min protocol = SMB2
    vfs objects = catia fruit streams_xattr
    fruit:metadata = stream
    fruit:model = RackMac
    fruit:posix_rename = yes
    fruit:veto_appledouble = no
    fruit:wipe_intentionally_left_blank_rfork = yes
    fruit:delete_empty_adfiles = yes

[storage]
    comment = storage
    browseable = yes
    path = /media/share
    valid users = $SMB_USER
    read only = no
    public = no
    guest ok = no

[timemachine]
    comment = timemachine
    browseable = yes
    path = /media/share/timemachine
    valid users = $SMB_USER
    read only = no
    vfs objects = catia fruit streams_xattr
    fruit:time machine = yes
    fruit:time machine max size = 0.5T
